notebooks/05_classification_deep_learning.ipynb
notebooks/06_cross_subject_validation.ipynb
notebooks/07_results_visualization.ipynb
README1.md
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
docs/*.tex
doc/EEG_Analysis_Report.tex

# Ignore the nested docs folder
docs/docs/
out
.gitignore
